[
  {rabbithub, 
  [{listener, [{port,     15671},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "/home/cameron/rmqca/cacert.pem"},
                           {certfile, "/home/cameron/rmqca/server/cert.pem"},
                           {keyfile, "/home/cameron/rmqca/server/key.pem"},
                           {verify, verify_none},
                           {fail_if_no_peer_cert, false}]}
              ]}
   ]}
].
