#!/usr/bin/make -f

# Common useful variables (from cdbs)
DEB_SOURCE_PACKAGE := $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')
DEB_ISNATIVE := $(shell dpkg-parsechangelog | egrep '^Version:' | perl -ne 'print if not /^Version:\s*.*-/;')

DESTDIR=$(CURDIR)/debian/tmp

build: build-stamp
build-stamp:
	dh build
	touch build-stamp

clean:
	dh clean
	rm -f build-stamp
	rm -f install-stamp

install: build install-stamp
install-stamp:
	dh install --sourcedir=$(DESTDIR) --before=auto_install
	dh_auto_install -- \
		DESTDIR=$(DESTDIR) \
		TARGET_DIR=/usr/lib/erlang/lib/rabbithub-$(DEB_UPSTREAM_VERSION) \
		SBIN_DIR=/usr/lib/rabbithub/bin \
		MAN_DIR=/usr/share/man/
	dh install --sourcedir=$(DESTDIR) --after=auto_install
	touch install-stamp

binary-arch: install
	dh binary-arch

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
